*EDA of the Enron dataset*

In [6]:
import pickle
import pandas as pd
enron_data = pickle.load(open("../final_project/final_project_dataset.pkl", "r"))

In [8]:
# Getting the length of the dictionary = 146. This is the number of data points in the dataset.
print len(enron_data.keys())
print len(enron_data)

146
146

In [10]:
# We can use Pandas to get the structure of the data and understand its features.
# Convert the data into a data frame
df = pd.DataFrame(enron_data)
df.head()

,ALLEN PHILLIP K,BADUM JAMES P,BANNANTINE JAMES M,BAXTER JOHN C,BAY FRANKLIN R,BAZELIDES PHILIP J,BECK SALLY W,BELDEN TIMOTHY N,BELFER ROBERT,BERBERIAN DAVID,...,WASAFF GEORGE,WESTFAHL RICHARD K,WHALEY DAVID A,WHALLEY LAWRENCE G,WHITE JR THOMAS E,WINOKUR JR. HERBERT S,WODRASKA JOHN,WROBEL BRUCE,YEAGER F SCOTT,YEAP SOON
bonus,4175000,NaN,NaN,1200000,400000,NaN,700000,5249999,NaN,NaN,...,325000,NaN,NaN,3000000,450000,NaN,NaN,NaN,NaN,NaN
deferral_payments,2869717,178980,NaN,1295738,260455,684694,NaN,2144013,-102500,NaN,...,831299,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
deferred_income,-3081055,NaN,-5104,-1386055,-201641,NaN,NaN,-2334434,NaN,NaN,...,-583325,-10800,NaN,NaN,NaN,-25000,NaN,NaN,NaN,NaN
director_fees,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3285,NaN,...,NaN,NaN,NaN,NaN,NaN,108579,NaN,NaN,NaN,NaN
email_address,phillip.allen@enron.com,NaN,james.bannantine@enron.com,NaN,frank.bay@enron.com,NaN,sally.beck@enron.com,tim.belden@enron.com,NaN,david.berberian@enron.com,...,george.wasaff@enron.com,dick.westfahl@enron.com,NaN,greg.whalley@enron.com,thomas.white@enron.com,NaN,john.wodraska@enron.com,NaN,scott.yeager@enron.com,NaN

In [32]:
# Pandas shape will give us the dimensions of the data
print "Data Frame dimensions are :", df.shape
# Index will give us the all the rows/features of the data
print "Features of the dataframe are:"
for x in df.index:
    print x

# To get all the columns, simply use the list function in Pandas
print "All the", len(list(df)), "columns/people in the data set:"
list(df)

Data Frame dimensions are : (21, 146)
Features of the dataframe are:
bonus
deferral_payments
deferred_income
director_fees
email_address
exercised_stock_options
expenses
from_messages
from_poi_to_this_person
from_this_person_to_poi
loan_advances
long_term_incentive
other
poi
restricted_stock
restricted_stock_deferred
salary
shared_receipt_with_poi
to_messages
total_payments
total_stock_value
All the 146 columns/people in the data set:

['ALLEN PHILLIP K',
 'BADUM JAMES P',
 'BANNANTINE JAMES M',
 'BAXTER JOHN C',
 'BAY FRANKLIN R',
 'BAZELIDES PHILIP J',
 'BECK SALLY W',
 'BELDEN TIMOTHY N',
 'BELFER ROBERT',
 'BERBERIAN DAVID',
 'BERGSIEKER RICHARD P',
 'BHATNAGAR SANJAY',
 'BIBI PHILIPPE A',
 'BLACHMAN JEREMY M',
 'BLAKE JR. NORMAN P',
 'BOWEN JR RAYMOND M',
 'BROWN MICHAEL',
 'BUCHANAN HAROLD G',
 'BUTTS ROBERT H',
 'BUY RICHARD B',
 'CALGER CHRISTOPHER F',
 'CARTER REBECCA C',
 'CAUSEY RICHARD A',
 'CHAN RONNIE',
 'CHRISTODOULOU DIOMEDES',
 'CLINE KENNETH W',
 'COLWELL WESLEY',
 'CORDES WILLIAM R',
 'COX DAVID',
 'CUMBERLAND MICHAEL S',
 'DEFFNER JOSEPH M',
 'DELAINEY DAVID W',
 'DERRICK JR. JAMES V',
 'DETMERING TIMOTHY J',
 'DIETRICH JANET R',
 'DIMICHELE RICHARD G',
 'DODSON KEITH',
 'DONAHUE JR JEFFREY M',
 'DUNCAN JOHN H',
 'DURAN WILLIAM D',
 'ECHOLS JOHN B',
 'ELLIOTT STEVEN',
 'FALLON JAMES B',
 'FASTOW ANDREW S',
 'FITZGERALD JAY L',
 'FOWLER PEGGY',
 'FOY JOE',
 'FREVERT MARK A',
 'FUGH JOHN L',
 'GAHN ROBERT S',
 'GARLAND C KEVIN',
 'GATHMANN WILLIAM D',
 'GIBBS DANA R',
 'GILLIS JOHN',
 'GLISAN JR BEN F',
 'GOLD JOSEPH',
 'GRAMM WENDY L',
 'GRAY RODNEY',
 'HAEDICKE MARK E',
 'HANNON KEVIN P',
 'HAUG DAVID L',
 'HAYES ROBERT E',
 'HAYSLETT RODERICK J',
 'HERMANN ROBERT J',
 'HICKERSON GARY J',
 'HIRKO JOSEPH',
 'HORTON STANLEY C',
 'HUGHES JAMES A',
 'HUMPHREY GENE E',
 'IZZO LAWRENCE L',
 'JACKSON CHARLENE R',
 'JAEDICKE ROBERT',
 'KAMINSKI WINCENTY J',
 'KEAN STEVEN J',
 'KISHKILL JOSEPH G',
 'KITCHEN LOUISE',
 'KOENIG MARK E',
 'KOPPER MICHAEL J',
 'LAVORATO JOHN J',
 'LAY KENNETH L',
 'LEFF DANIEL P',
 'LEMAISTRE CHARLES',
 'LEWIS RICHARD',
 'LINDHOLM TOD A',
 'LOCKHART EUGENE E',
 'LOWRY CHARLES P',
 'MARTIN AMANDA K',
 'MCCARTY DANNY J',
 'MCCLELLAN GEORGE',
 'MCCONNELL MICHAEL S',
 'MCDONALD REBECCA',
 'MCMAHON JEFFREY',
 'MENDELSOHN JOHN',
 'METTS MARK',
 'MEYER JEROME J',
 'MEYER ROCKFORD G',
 'MORAN MICHAEL P',
 'MORDAUNT KRISTINA M',
 'MULLER MARK S',
 'MURRAY JULIA H',
 'NOLES JAMES L',
 'OLSON CINDY K',
 'OVERDYKE JR JERE C',
 'PAI LOU L',
 'PEREIRA PAULO V. FERRAZ',
 'PICKERING MARK R',
 'PIPER GREGORY F',
 'PIRO JIM',
 'POWERS WILLIAM',
 'PRENTICE JAMES',
 'REDMOND BRIAN L',
 'REYNOLDS LAWRENCE',
 'RICE KENNETH D',
 'RIEKER PAULA H',
 'SAVAGE FRANK',
 'SCRIMSHAW MATTHEW',
 'SHANKMAN JEFFREY A',
 'SHAPIRO RICHARD S',
 'SHARP VICTORIA T',
 'SHELBY REX',
 'SHERRICK JEFFREY B',
 'SHERRIFF JOHN R',
 'SKILLING JEFFREY K',
 'STABLER FRANK',
 'SULLIVAN-SHAKLOVITZ COLLEEN',
 'SUNDE MARTIN',
 'TAYLOR MITCHELL S',
 'THE TRAVEL AGENCY IN THE PARK',
 'THORN TERENCE H',
 'TILNEY ELIZABETH A',
 'TOTAL',
 'UMANOFF ADAM S',
 'URQUHART JOHN A',
 'WAKEHAM JOHN',
 'WALLS JR ROBERT H',
 'WALTERS GARETH W',
 'WASAFF GEORGE',
 'WESTFAHL RICHARD K',
 'WHALEY DAVID A',
 'WHALLEY LAWRENCE G',
 'WHITE JR THOMAS E',
 'WINOKUR JR. HERBERT S',
 'WODRASKA JOHN',
 'WROBEL BRUCE',
 'YEAGER F SCOTT',
 'YEAP SOON']

In [84]:
""" Finding POI or Persons of Intrest. The key in the dictionary is the name of the person and the values are a JSON with 
    one of the keys of the JSON being 'poi'.
"""
print "POI classification for all the people in the dataset"
for x in enron_data:
    print x, enron_data[x]['poi']

POI classification for all the people in the dataset
METTS MARK False
BAXTER JOHN C False
ELLIOTT STEVEN False
CORDES WILLIAM R False
HANNON KEVIN P True
MORDAUNT KRISTINA M False
MEYER ROCKFORD G False
MCMAHON JEFFREY False
HORTON STANLEY C False
PIPER GREGORY F False
HUMPHREY GENE E False
UMANOFF ADAM S False
BLACHMAN JEREMY M False
SUNDE MARTIN False
GIBBS DANA R False
LOWRY CHARLES P False
COLWELL WESLEY True
MULLER MARK S False
JACKSON CHARLENE R False
WESTFAHL RICHARD K False
WALTERS GARETH W False
WALLS JR ROBERT H False
KITCHEN LOUISE False
CHAN RONNIE False
BELFER ROBERT False
SHANKMAN JEFFREY A False
WODRASKA JOHN False
BERGSIEKER RICHARD P False
URQUHART JOHN A False
BIBI PHILIPPE A False
RIEKER PAULA H True
WHALEY DAVID A False
BECK SALLY W False
HAUG DAVID L False
ECHOLS JOHN B False
MENDELSOHN JOHN False
HICKERSON GARY J False
CLINE KENNETH W False
LEWIS RICHARD False
HAYES ROBERT E False
MCCARTY DANNY J False
KOPPER MICHAEL J True
LEFF DANIEL P False
LAVORATO JOHN J False
BERBERIAN DAVID False
DETMERING TIMOTHY J False
WAKEHAM JOHN False
POWERS WILLIAM False
GOLD JOSEPH False
BANNANTINE JAMES M False
DUNCAN JOHN H False
SHAPIRO RICHARD S False
SHERRIFF JOHN R False
SHELBY REX True
LEMAISTRE CHARLES False
DEFFNER JOSEPH M False
KISHKILL JOSEPH G False
WHALLEY LAWRENCE G False
MCCONNELL MICHAEL S False
PIRO JIM False
DELAINEY DAVID W True
SULLIVAN-SHAKLOVITZ COLLEEN False
WROBEL BRUCE False
LINDHOLM TOD A False
MEYER JEROME J False
LAY KENNETH L True
BUTTS ROBERT H False
OLSON CINDY K False
MCDONALD REBECCA False
CUMBERLAND MICHAEL S False
GAHN ROBERT S False
MCCLELLAN GEORGE False
HERMANN ROBERT J False
SCRIMSHAW MATTHEW False
GATHMANN WILLIAM D False
HAEDICKE MARK E False
BOWEN JR RAYMOND M True
GILLIS JOHN False
FITZGERALD JAY L False
MORAN MICHAEL P False
REDMOND BRIAN L False
BAZELIDES PHILIP J False
BELDEN TIMOTHY N True
DURAN WILLIAM D False
THORN TERENCE H False
FASTOW ANDREW S True
FOY JOE False
CALGER CHRISTOPHER F True
RICE KENNETH D True
KAMINSKI WINCENTY J False
LOCKHART EUGENE E False
COX DAVID False
OVERDYKE JR JERE C False
PEREIRA PAULO V. FERRAZ False
STABLER FRANK False
SKILLING JEFFREY K True
BLAKE JR. NORMAN P False
SHERRICK JEFFREY B False
PRENTICE JAMES False
GRAY RODNEY False
PICKERING MARK R False
THE TRAVEL AGENCY IN THE PARK False
NOLES JAMES L False
KEAN STEVEN J False
TOTAL False
FOWLER PEGGY False
WASAFF GEORGE False
WHITE JR THOMAS E False
CHRISTODOULOU DIOMEDES False
ALLEN PHILLIP K False
SHARP VICTORIA T False
JAEDICKE ROBERT False
WINOKUR JR. HERBERT S False
BROWN MICHAEL False
BADUM JAMES P False
HUGHES JAMES A False
REYNOLDS LAWRENCE False
DIMICHELE RICHARD G False
BHATNAGAR SANJAY False
CARTER REBECCA C False
BUCHANAN HAROLD G False
YEAP SOON False
MURRAY JULIA H False
GARLAND C KEVIN False
DODSON KEITH False
YEAGER F SCOTT True
HIRKO JOSEPH True
DIETRICH JANET R False
DERRICK JR. JAMES V False
FREVERT MARK A False
PAI LOU L False
BAY FRANKLIN R False
HAYSLETT RODERICK J False
FUGH JOHN L False
FALLON JAMES B False
KOENIG MARK E True
SAVAGE FRANK False
IZZO LAWRENCE L False
TILNEY ELIZABETH A False
MARTIN AMANDA K False
BUY RICHARD B False
GRAMM WENDY L False
CAUSEY RICHARD A True
TAYLOR MITCHELL S False
DONAHUE JR JEFFREY M False
GLISAN JR BEN F True

In [124]:
# Counting the number of True POI's
count = 0
for x in enron_data:
    if enron_data[x]['poi'] == True:
        count += 1
print "Number of POI's:", count

Number of POI's: 18

In [125]:
# Importing the list from USA today.
enron_all_txt = open("../final_project/poi_names.txt", "r")
print "List of all people mentioned in USA today article : http://usatoday30.usatoday.com/money/industries/energy/2005-12-28-enron-participants_x.htm"
for line in enron_all_txt:
    print line.split(" ")

List of all people mentioned in USA today article : http://usatoday30.usatoday.com/money/industries/energy/2005-12-28-enron-participants_x.htm
['http://usatoday30.usatoday.com/money/industries/energy/2005-12-28-enron-participants_x.htm\n']
['\n']
['(y)', 'Lay,', 'Kenneth\n']
['(y)', 'Skilling,', 'Jeffrey\n']
['(n)', 'Howard,', 'Kevin\n']
['(n)', 'Krautz,', 'Michael\n']
['(n)', 'Yeager,', 'Scott\n']
['(n)', 'Hirko,', 'Joseph\n']
['(n)', 'Shelby,', 'Rex\n']
['(n)', 'Bermingham,', 'David\n']
['(n)', 'Darby,', 'Giles\n']
['(n)', 'Mulgrew,', 'Gary\n']
['(n)', 'Bayley,', 'Daniel\n']
['(n)', 'Brown,', 'James\n']
['(n)', 'Furst,', 'Robert\n']
['(n)', 'Fuhs,', 'William\n']
['(n)', 'Causey,', 'Richard\n']
['(n)', 'Calger,', 'Christopher\n']
['(n)', 'DeSpain,', 'Timothy\n']
['(n)', 'Hannon,', 'Kevin\n']
['(n)', 'Koenig,', 'Mark\n']
['(y)', 'Forney,', 'John\n']
['(n)', 'Rice,', 'Kenneth\n']
['(n)', 'Rieker,', 'Paula\n']
['(n)', 'Fastow,', 'Lea\n']
['(n)', 'Fastow,', 'Andrew\n']
['(y)', 'Delainey,', 'David\n']
['(n)', 'Glisan,', 'Ben\n']
['(n)', 'Richter,', 'Jeffrey\n']
['(n)', 'Lawyer,', 'Larry\n']
['(n)', 'Belden,', 'Timothy\n']
['(n)', 'Kopper,', 'Michael\n']
['(n)', 'Duncan,', 'David\n']
['(n)', 'Bowen,', 'Raymond\n']
['(n)', 'Colwell,', 'Wesley\n']
['(n)', 'Boyle,', 'Dan\n']
['(n)', 'Loehr,', 'Christopher\n']

In [127]:
# Finding which of the people have a quantifiable salary and email address
no_salary_count = 0
for x in enron_data:
    if enron_data[x]['salary'] == 'NaN':
        no_salary_count+=1
        
print "Salary is missing for", no_salary_count, "people."

# Finding which of the people have a quantifiable salary and email address
no_email_count = 0
for x in enron_data:
    if enron_data[x]['email_address'] == 'NaN':
        no_email_count+=1
        
print "Email is missing for", no_email_count, "people."

Salary is missing for 51 people.
Email is missing for 35 people.

In [134]:
# Finding out how many people have missing total_payments
count_tp = 0
for x in enron_data:
    if enron_data[x]['total_payments'] == 'NaN':
        count_tp += 1
print "People mssing total payments:", count_tp
print "This is", (count_tp*100/len(enron_data)), "% of the total population in the sample dataset."

People mssing total payments: 21
This is 14 % of the total population in the sample dataset.

In [138]:
# Finding out how many people have missing total_payments and are POIs
count_tp_poi = 0
for x in enron_data:
    if enron_data[x]['total_payments'] == 'NaN' and enron_data[x]['poi'] == True:
        count_tp_poi += 1
print "People mssing total payments:", count_tp_poi
print "This is", (count_tp_poi*100/len(enron_data)), "% of the total population in the sample dataset who are POIs."

People mssing total payments: 0
This is 0 % of the total population in the sample dataset who are POIs.